<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet" />
  <!--Font Awesome-->
  <script src="https://kit.fontawesome.com/47629bb4fb.js" crossorigin="anonymous"></script>
  <!--Bootstrap-->
  <link type="text/css" href="/css/bootstrap-social.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
  </script>
  <!--CSS-->
  <% if (typeof style !== 'undefined') { %>
  <link type="text/css" href="/css/<%= style %>.css" rel="stylesheet" />
  <% } %>
  <link type="text/css" href="/css/styles.css" rel="stylesheet" />
  <!--App icon-->
  <link rel="icon" href="/images/icon.png" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/">
      <span class="navbar-brand navbar-links" style="color: #dfdfdf">
        <i class="fas fa-trophy"></i> Solvee
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/tournaments/">
            <button class="btn btn-dark navbar-links" style="color: #dfdfdf">
              <span>Tournaments</span>
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a href="/competitions/">
            <button class="btn btn-dark navbar-links" style="color: #dfdfdf">
              <span>Competitions</span>
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a href="/exams/">
            <button class="btn btn-dark navbar-links" style="color: #dfdfdf">
              <span>Exams</span>
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a href="/support-us">
            <button class="btn btn-dark navbar-links" style="color: #dfdfdf">
              Support Us
            </button>
          </a>
        </li>
      </ul>
      <% if (user) { %>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><%= user.Username %> <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align: center; ">
            <li style="padding: 5%;">
              <i class="fas fa-coins">
                <small style="font-size: 1.2em;"><%= user.spirits %></small>
              </i>
            </li>
            <li style="padding: 5%;"><a href="/users/<%= user.Username %>/" class="btn btn-outline-Login">
                <span>Profile</span>
              </a>
            </li>
            <li style="padding: 5%;"><a href="/users/logout/" class="btn btn-outline-Custom btn-block btn-lg-block">
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </li>
        <% } %>
      </ul>
      <% if (!user) { %>
      <a href="/users/login/">
        <button class="btn btn-outline-Login" style="margin-right: 20px;">
          <span>Login</span>
        </button>
      </a>
      <a href="/users/register/">
        <button class="btn btn-outline-Custom" style="margin-right: 10px;">
          <span>Register</span>
        </button>
      </a>
      <% } %>
    </div>
  </nav>
</body>

</html>