<%- include("partials/Header.ejs")%>

<div class="container">
    <%-messages("partials/Messages.ejs", locals)%>
    <!--To publish the errors on screen for user if any were found-->
    <div class="card center">
        <div class="competitionExamHeader">
            <h1>
                <%if(competition.CATEGORY=="Programming"){%>
                    <i class="fas fa-laptop-code" style="color: #150999;"></i>
                <%}else if(competition.CATEGORY=="Physics"){%>
                    <i class="fas fa-bolt" style="color: #150999;"></i>
                <%}else if(competition.CATEGORY=="Mechanics"){%>
                    <i class="fas fa-cogs" style="color: #150999;"></i>
                <%}else if(competition.CATEGORY=="Mathematics"){%>
                    <i class="fas fa-sort-numeric-up-alt" style="color: #150999;"></i>
                <%}else{%>
                    <i class="fas fa-medal" style="color: #150999;"></i>
                <%}%>
                 <%= competition.TITLE %></h1>
        </div>

        <ul class="competiton-breadcrumb">
            <li><a href="/competitions/details/<%= competition.C_ID %>" class="active">Details</a></li>
            <li><a href="/competitions/reviews/<%= competition.C_ID %>">Reviews</a></li>
            <li><a href="/competitions/leaderboard/<%= competition.C_ID %>/<%= competition.TITLE %>">Leaderboard</a>
            </li>
        </ul>

        <hr style="margin: 0; background-color:#150999">
        <div class="card-body competitionExamCard">
            <p class="text-muted mb-0"><b>Host:</b> <%= host.firstName %> <%= host.lastName %></p>
            <p class="text-muted"><b>Description:</b><br><%= competition.DESCP %></p>
            <span class="text-muted"><i style="color:#E51552" class="far fa-list-alt"></i> <b>Category: </b>
                <%= competition.CATEGORY %>
                &nbsp;</span>
            <br>
            <span class="text-muted"><i style="color:#150999" class="far fa-calendar-alt"></i> <b>Start Date: </b>
                <%= competition.STARTDATE %> - <b>End Date:</b> <%= competition.ENDDATE %>
            </span>
            <hr>
            <span>
                <span style="font-weight: bold;">Fees: <%= competition.cost %> </span><i class="fas fa-coins" style="color: #150999;"></i>
            </span>
            <br>
            <span class="text-muted">
                <% if (!competition.RATING) { %>
                No Rating
                <% } else { for(let i = 0; i < Math.ceil(competition.RATING); i++) { %>
                ⭐
                <% }} %>
            </span>
            <br>
            <%if(!alreadyParticpant){%>
            <a href="/competitions/questions/<%= competition.C_ID %>" style="margin-top: 10px;"
                class="btn btn-outline-Custom" >Participate</a>
            <%}%>
        </div>
    </div>

</div>

<%-include("partials/Footer.ejs")%>