<%- include("partials/Header.ejs")%> <%-messages("partials/Messages.ejs", locals)%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
    <div class="card center">
        <div class="competitionExamHeader">
            <h1>Competitions</h1>
        </div>
        <form action="/competitions/search" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <input type="search" class="form-control" name="searchedCompetition" id="searchedCompetition"
                        placeholder="Search">
                    <div class="input-group-prepend">
                        <button type="submit" class=" btn btn-outline-success"><i class="fas fa-search"></i>
                            Search</button>
                    </div>
                </div>
            </div>
        </form>
        <br><br>
        <hr style="background-color:#150999">
        <% if(!competitions.length) { %>
        <div>
            <h1 class="card-title text-center text-muted">There are no competitions</h1>
        </div>
        <% } else { %>
        <% competitions.forEach(competition => { %>
        <div class="card-body competitionExamCard">
            <h2 class="card-title"><%= competition.TITLE %></h2>
            <span class="text-muted"><i style="color:#E51552" class="far fa-list-alt"></i> <b>Category: </b>
                <%= competition.CATEGORY %>
                &nbsp;</span>
            <br>
            <span class="text-muted"><i style="color:#150999" class="far fa-calendar-alt"></i> <b>Start Date: </b>
                <%= competition.STARTDATE %> - <b>End Date:</b> <%= competition.ENDDATE %>
            </span>
            <hr>
            <span class="text-muted">
                <% if (!competition.RATING) { %>
                No Rating
                <% } else { for(let i = 0; i < Math.ceil(competition.RATING); i++) { %>
                ⭐
                <% }} %>
            </span>
            <br>
            <a href="/competitions/details/<%= competition.C_ID %>" style="margin-top: 10px;"
                class="btn btn-outline-Custom">Participate Now</a>
        </div>
        <% })} %>
    </div>

</div>

<%-include("partials/Footer.ejs")%>