<%- include("partials/Header.ejs")%> <%-include("partials/Messages.ejs", locals)%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
    <div class="card center">
        <div class="competitionExamHeader">
            <h1>Competitions</h1>
        </div>
        <form action="/competitions/search" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <input type="search" class="form-control" name="searchedCompetition" id="searchedCompetition"
                        placeholder="Search By Competition ID....">
                    <div class="input-group-prepend">
                        <button type="submit" class=" btn btn-outline-success"><i class="fas fa-search"></i>
                            Search</button>
                    </div>
                </div>
            </div>
        </form>
        <br><br>
        <hr style="background-color:#150999">
        <% competitions.forEach(competition => { %>
        <div class="card-body competitionExamCard">
            <h2 class="card-title"><%= competition.title %></h2>
            <span class="text-muted"><i style="color:#E51552" class="far fa-list-alt"></i> <b>Category: </b>
                <%= competition.category %>
                &nbsp;</span>
            <span class="text-muted"><i style="color:#150999" class="far fa-calendar-alt"></i> Start Date:
                <%= competition.startDate %> - End Date: <%= competition.endDate %>
            </span>
            <hr>
            <p style="margin-bottom: 10px;">Description :
                <small class="card-text text-muted">"<%= competition.descp %>"</small>
            </p>
            <span class="text-muted">
                <% if (!competition.rating) { %>
                No Rating
                <% } else { for(let i = 0; i < competition.rating; i++) { %>
                ⭐
                <% }} %>
            </span>
            <br>
            <a href="/competitions/<%= competition.c_id %>" style="margin-top: 10px;"
                class="btn btn-outline-Custom">Participate Now</a>
        </div>
        <% }) %>
    </div>

</div>

<%-include("partials/Footer.ejs")%>