<%- include("partials/Header.ejs")%>

<div class="container" style="min-height: 100vh;">
    <%-messages("partials/Messages.ejs", locals)%>
    <%-messages("partials/Messages.ejs", locals)%>
    <% if (typeof errors !== 'undefined') { %>
    <% errors.forEach(error => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% }); %>
    <% } %>
    <div class="card center">
        <div class="competitionExamHeader">
            <h2 style="float: left;"><i class="fas fa-medal" style="color: #150999;"></i> Competitions</h2>
        </div>
        <form action="/competitions/search" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <input type="search" class="form-control" name="searchedCompetition" id="searchedCompetition"
                        placeholder="Search by competition name or ID..."
                        value="<%= (typeof searchedCompetition !== 'undefined') ? searchedCompetition : '' %>">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-outline-Custom">
                            <i class="fas fa-search"></i>Search
                        </button>

                        <a role="button" href="/competitions/CreateCompetition" class="btn btn-Custom">
                            Create Competition
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <br><br>
        <hr style="background-color:#150999">
        <% if(!competitions.length) { %>
        <div>
            <h1 class="card-title text-center text-muted">There are no competitions</h1>
        </div>
        <% } else { %>
        <% competitions.forEach(competition => { %>
        <div class="card-body competitionExamCard">
            <h2>
                <%if(competition.CATEGORY=="Programming"){%>
                <i class="fas fa-laptop-code" style="color: #150999;"></i>
                <%}else if(competition.CATEGORY=="Physics"){%>
                <i class="fas fa-bolt" style="color: #150999;"></i>
                <%}else if(competition.CATEGORY=="Mechanics"){%>
                <i class="fas fa-cogs" style="color: #150999;"></i>
                <%}else if(competition.CATEGORY=="Mathematics"){%>
                <i class="fas fa-sort-numeric-up-alt" style="color: #150999;"></i>
                <%}else{%>
                <i class="fas fa-medal" style="color: #150999;"></i>
                <%}%> <%= competition.TITLE %>
            </h2>
            <span class="text-muted"><i style="color:#E51552" class="far fa-list-alt"></i> <b>Category: </b>
                <%= competition.CATEGORY %>&nbsp;
            </span>
            <br>
            <span class="text-muted"><i style="color:#150999" class="far fa-calendar-alt"></i> <b>Start Date: </b>
                <%= competition.STARTDATE %> - <b>End Date:</b> <%= competition.ENDDATE %>
            </span>
            <hr>
            <span>
                <span style="font-weight: bold;">Fees: <%= competition.cost %> </span><i class="fas fa-coins"
                    style="color: #150999;"></i>
            </span>
            <br>
            <span class="text-muted">
                <% if (!competition.RATING) { %>
                No Rating
                <% } else { for(let i = 0; i < Math.ceil(competition.RATING); i++) { %>
                ⭐
                <% }} %>
            </span>
            <br>
            <a href="/competitions/details/<%= competition.C_ID %>" style="margin-top: 10px;"
                class="btn btn-outline-Custom">
                More Details
            </a>
        </div>
        <% })} %>
    </div>
</div>

<%-include("partials/Footer.ejs")%>