<%- include("partials/LoggedInHeader.ejs")%> <%-include("partials/Messages.ejs")%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
  <form action="/users/userProfile/edit" method="post">
    <section class="profile-section2 ">
        <div class="row ">
            <div class="col-sm-6 ">
              <label for="firstName" class="editProfileLabels form-label">First name</label>
              <input type="text" class="form-control" name="firstName" placeholder="<%=profileInfo[0].firstName%>" value="" >
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="editProfileLabels form-label">Last name</label>
              <input type="text" class="form-control" name="lastName" id="lastName" placeholder="<%=profileInfo[0].lastName%>" value="" >
            </div>
          </div>
            <div class="col-12">
                <label for="username" class="editProfileLabels form-label">Username</label>
                <div class="input-group">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" name="username" placeholder="<%=profileInfo[0].Username%>" >
                </div>
              </div>
              <div class="row editProfileLabels">
              <div class="col-sm-6">
                <label for="firstName" class="editProfileLabels form-label">New Password</label>
                <input type="password" class="form-control" placeholder="**********" name="pass" >
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="editProfileLabels form-label">Re-enter New Password</label>
                <input type="password" class="form-control"  placeholder="**********" name="confirmPass" >
              </div>
              </div>
              <div class="col-12">
                <label for="username" class="editProfileLabels form-label">Education</label>
                  <input type="text" class="form-control" placeholder="<%=profileInfo[0].education%>" name="education" >
              </div>
              <div class="col-12">
                <label for="username" class="editProfileLabels form-label">Job</label>
                  <input type="text" class="form-control" placeholder="<%=profileInfo[0].job%>" name="job">
              </div>
              <div class="col-12">
                <label for="username" class="editProfileLabels form-label">BirthDate</label>
                  <input type="date" class="form-control"  name="date">
              </div>
              <div class="row genderAvatar">
              <div class="col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label  class="input-group-text" for="inputGroupSelect10">Avatar</label>
                  </div>
                  <select id="selectedFont" class="custom-select" name="avatar" id="inputGroupSelect01" value="">
                      <option name="xl" value="xl">👴</option>
                      <option name="l" value="l">👨</option>
                      <option name="xl" value="xl">👩</option>
                      <option name="l" value="l">👵</option>
                  </select>
                </div>
              </div>
              
  
              <div class="col-sm-6">
                
                <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label  class="input-group-text" for="inputGroupSelect10">Gender</label>
                            </div>
                            <select id="selectedFont" class="custom-select" name="gender" id="inputGroupSelect01" value="">
                                <option name="M" value="M">Male</option>
                                <option name="F" value="F">Female</option>
                            </select>
                          </div>
              </div>
            </div>
              <div class="col-12">
                <label for="username" class="editProfileLabels form-label">Bio</label>
                  <textarea type="text" class="form-control" placeholder="<%=profileInfo[0].bio%>" name="bio" ></textarea>
              </div>

              <div class="saveDiscard">
                <a href="/users/userProfile" class="buttonProfile btn btn-danger">Discard</a>
                
                  <button type="submit" class="buttonProfile btn btn-info" style="margin-right: 20px">Save Changes</button>
                </form>
            </div>
    </section>
</div>



<%- include("partials/Footer.ejs")%>