<%- include("partials/Header.ejs")%> <%-messages("partials/Messages.ejs", locals)%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
    <div class="card center">
        <div class="competitionExamHeader">
            <h1>Exams</h1>
        </div>
        <!-- <form action="/exams/search" method="post"> -->
            <div class="mb-3">
                <div class="input-group">
                    <input type="search" class="form-control" name="searchedExam" id="searchedExam"
                        placeholder="Search By Exam ID....">
                    <div class="input-group-prepend">
                        <button type="submit" class=" btn btn-outline-success"><i class="fas fa-search"></i>
                            Search</button>
                        <a role="button" href="/exams/CreateExam" class="btn btn-success">Create Exam</a>    
                    </div>
                </div>
            </div>
        <!-- </form> -->
        <% exams.forEach(exam => { %>
        <div class="card-body competitionExamCard">
            <h2 class="card-title"><%= exam.TITLE %></h2>
            <span class="text-muted"><i style="color:#E51552" class="far fa-clock"></i> Duration: <%= exam.DURATION %> Mins
                &nbsp;</span>
            <br>
            <span class="text-muted"><i style="color:#28A745" class="far fa-calendar-alt"></i> Start Date:
                <%= exam.STARTDATE %> - End Date: <%= exam.ENDDATE %></span>
            <hr>
            <form action="/exams/details/<%=exam.E_ID%>" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="code" placeholder="Enter Exam's Code" aria-label="Enter Exam's Code" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    
                    <button class="btn btn-outline-success">Solve Now</button>

                </div>
            </div>
        </form>

        </div>
        <% }) %>
    </div>

</div>

<%-include("partials/Footer.ejs")%>