<%- include("partials/Header.ejs")%> <%-messages("partials/Messages.ejs", locals)%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
    <div class="card center">
        <div class="competitionExamHeader">
            <h1>Exams</h1>
        </div>
        <form action="/exams/search" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <input type="search" class="form-control" name="searchedExam" id="searchedExam"
                        placeholder="Search By Exam ID....">
                    <div class="input-group-prepend">
                        <button type="submit" class=" btn btn-outline-success"><i class="fas fa-search"></i>
                            Search</button>
                        <a role="button" href="/exams/CreateExam" class="btn btn-success">Create Exam</a>    
                    </div>
                </div>
            </div>
        </form>
        <% exams.forEach(exam => { %>
        <div class="card-body competitionExamCard">
            <h2 class="card-title"><%= exam.title %></h2>
            <span class="text-muted"><i style="color:#28A745" class="fas fa-book"></i> <%= exam.e_subject %>
                &nbsp;</span>
            <span class="text-muted"><i style="color:#E51552" class="far fa-clock"></i> <%= exam.duration %> Mins
                &nbsp;</span>
            <span class="text-muted"><i style="color:#150999" class="far fa-calendar-alt"></i> Start Date:
                <%= exam.startDate %> - End Date: <%= exam.endDate %></span>
            <hr>
            <p style="margin-bottom: 0;" for="text">Description :
                <small class="card-text text-muted">"<%= exam.descp %>"
                </small>
            </p><br>
            <a href="/exams/<%= exam.e_id %>" class="btn btn-outline-Custom">Solve Now</a>
        </div>
        <% }) %>
    </div>

</div>

<%-include("partials/Footer.ejs")%>