<%- include("partials/Header.ejs")%>

<div class="container">
    <%-messages("partials/Messages.ejs", locals)%>
    <!--To publish the errors on screen for user if any were found-->
    <div class="card center">
        <div class="competitionExamHeader">
            <h1><%= exam.TITLE %></h1>
        </div>

        <hr style="margin: 0; background-color:#28A745">
        <div class="card-body competitionExamCard">
            <p class="text-muted mb-0"><b>Host:</b> <%= host.firstName %> <%= host.lastName %></p>
            <p class="text-muted"><b>Description: </b><%= exam.DESCP %></p>
            <span class="text-muted"><i style="color:black" class="far fa-list-alt"></i> <b>Category: </b>
                <%= exam.CATEGORY %>
                &nbsp;</span>
            <br>
            <span class="text-muted"><i style="color:#28A745" class="far fa-calendar-alt"></i> <b>Start Date: </b>
                <%= exam.STARTDATE %> - <b>Duration:</b> <%= exam.DURATION %> Mins
            </span>
            <hr>
            <a href="/exams/questions/<%= exam.E_ID %>/<%=examCode%>" style="margin-top: 10px;"
                class="btn btn-outline-success">Start</a>
        </div>
    </div>

</div>

<%-include("partials/Footer.ejs")%>