<%- include("partials/Header.ejs")%> <%-messages("partials/Messages.ejs", locals)%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
    <div class="card center">
        <div class="competitionExamHeader">
            <h1><%= title %></h1>
        </div>

        <div>
            <p class="text-center mb-0">Remaining time</p>
            <p class="text-center" id="timer"></p>
            <div class="progress">
                <div class="progress-bar bg-success" id="progressbar" role="progressbar" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <hr style="background-color:#28A745">

        <div class="container">
            <form id="examForm" action="/exams/questions/<%= exam.E_ID %>" method="POST">
                <% 
                function shuffle(array) {
                    let currentIndex = array.length, temporaryValue, randomIndex;
                    while (currentIndex) {
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex -= 1;
                        temporaryValue = array[currentIndex];
                        array[currentIndex] = array[randomIndex];
                        array[randomIndex] = temporaryValue;
                    }
                    return array;
                }
                questions.forEach(question => {
                                    let questionChoices = [
                                        question.CHOICE_1,
                                        question.CHOICE_2,
                                        question.CHOICE_3,
                                        question.CHOICE_4
                                    ];
                                    questionChoices = shuffle(questionChoices);
                                    question.CHOICE_1 = questionChoices[0];
                                    question.CHOICE_2 = questionChoices[1];
                                    question.CHOICE_3 = questionChoices[2];
                                    question.CHOICE_4 = questionChoices[3];
                                });
                questions.forEach((question, index) => { 
                %>
                <fieldset class="form-group">
                    <legend class="col-form-label pt-0"><b>Question <%= index + 1 %>:</b><br><%= question.QUESTION %>
                    </legend>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q<%= index + 1 %>"
                                id="q<%= index + 1 %>_choice1" value="<%= question.CHOICE_1 %>">
                            <label class="form-check-label" for="q<%= index + 1 %>_choice1">
                                <%= question.CHOICE_1 %>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q<%= index + 1 %>"
                                id="q<%= index + 1 %>_choice2" value="<%= question.CHOICE_2 %>">
                            <label class="form-check-label" for="q<%= index + 1 %>_choice2">
                                <%= question.CHOICE_2 %>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q<%= index + 1 %>"
                                id="q<%= index + 1 %>_choice3" value="<%= question.CHOICE_3 %>">
                            <label class="form-check-label" for="q<%= index + 1 %>_choice3">
                                <%= question.CHOICE_3 %>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q<%= index + 1 %>"
                                id="q<%= index + 1 %>_choice4" value="<%= question.CHOICE_4 %>">
                            <label class="form-check-label" for="q<%= index + 1 %>_choice4">
                                <%= question.CHOICE_4 %>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <hr style="background-color:#000000">
                <% }); %>
                <div class="form-group d-flex">
                    <div style="margin: auto;">
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    let interval,
        updatedSeconds = 0,
        updatedMinutes = parseInt("<%- exam.DURATION %>") - Math.round((Date.now() - (new Date(
            "<%- exam.STARTDATE %>"))) / (1000 * 60)),
        duration = parseInt("<%- exam.DURATION %>"),
        timer = document.getElementById("timer"),
        progressbar = document.getElementById("progressbar"),
        examForm = document.getElementById("examForm"),
        percentage = (((updatedMinutes * 60) + updatedSeconds) / (duration * 60)) * 100;

    const start = () => {
        run();
        interval = setInterval(run, 1000);
    };

    const run = () => {
        if (updatedSeconds === 0 && updatedMinutes !== 0) {
            updatedMinutes--;
            updatedSeconds = 60;
        }
        if (updatedMinutes === 0 && updatedSeconds === 0) {
            //do the work
            examForm.submit();
            return;
        } else {
            updatedSeconds--;
        }

        timer.innerText =
            `${updatedMinutes >= 10 ? updatedMinutes : `0${updatedMinutes}`} : ${updatedSeconds >= 10 ? updatedSeconds : `0${updatedSeconds}`}`;
        percentage = (((updatedMinutes * 60) + updatedSeconds) / (duration * 60)) * 100;
        if (Math.floor(percentage) <= 25) {
            progressbar.classList.remove("bg-success");
            progressbar.classList.add("bg-danger");
        }
        progressbar.style.width = percentage + '%';
    };

    window.addEventListener("load", () => {
        start();
    });
</script>

<%-include("partials/Footer.ejs")%>