<%- include("partials/Header.ejs")%>

<div class="container" style="min-height: 100vh;">
    <%-messages("partials/Messages.ejs", locals)%>

    <div class="card center">
        <div class="competitionExamHeader">
            <h2 style="float: left;"><i class="fab fa-medapps" style="color: #28A745;"></i> Exams</h2>
        </div>
        <form action="/exams/search" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <input type="search" class="form-control" name="searchedExam" id="searchedExam"
                        placeholder="Search by exam name or ID..."
                        value="<%= (typeof searchedExam !== 'undefined') ? searchedExam : '' %>">
                    <div class="input-group-prepend">
                        <button type="submit" class=" btn btn-outline-success">
                            <i class="fas fa-search"></i> Search
                        </button>
                        <a role="button" href="/exams/CreateExam" class="btn btn-success">Create Exam</a>
                    </div>
                </div>
            </div>
        </form>
        <br><br>
        <hr style="background-color:#28A745">
        <% if(!exams.length) { %>
        <div>
            <h1 class="card-title text-center text-muted">There are no exams</h1>
        </div>
        <% } else { %>
        <% exams.forEach(exam => { %>
        <div class="card-body competitionExamCard">
            <h2 class="card-title">
                <%if(exam.CATEGORY=="Programming"){%>
                <i class="fas fa-laptop-code" style="color: #28A745;"></i>
                <%}else if(exam.CATEGORY=="Physics"){%>
                <i class="fas fa-bolt" style="color: #28A745;"></i>
                <%}else if(exam.CATEGORY=="Mechanics"){%>
                <i class="fas fa-cogs" style="color: #28A745;"></i>
                <%}else if(exam.CATEGORY=="Mathematics"){%>
                <i class="fas fa-sort-numeric-up-alt" style="color: #28A745;"></i>
                <%}else{%>
                <i class="fab fa-medapps" style="color: #28A745;"></i>
                <%}%>
                <%= exam.TITLE %>
            </h2>
            <span class="text-muted"><i style="color:#E51552" class="far fa-clock"></i> Duration: <%= exam.DURATION %>
                Mins
                &nbsp;</span>
            <br>
            <span class="text-muted"><i style="color:#28A745" class="far fa-calendar-alt"></i> Start Date:
                <%= exam.STARTDATE %></span>
            <hr>
            <form action="/exams/details/<%=exam.E_ID%>" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="code" placeholder="Enter Exam's Code"
                        aria-label="Enter Exam's Code" aria-describedby="basic-addon2">
                    <div class="input-group-append">

                        <button class="btn btn-outline-success">More Details</button>

                    </div>
                </div>
            </form>

        </div>
        <% })} %>
    </div>

</div>

<%-include("partials/Footer.ejs")%>