<%- include("partials/Header.ejs")%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
  <%-messages("partials/Messages.ejs", locals)%>

  <section class="profile-section2">
    <div class="accordion" id="accordionExample">
        <h2 class="LeaderboardTitle"><%=comp_name%>'s Leaderboard</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Username</th>
                  <th>Grade</th>
                  <th>Duration</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                  <%for(var i=0;i<List.length;i++){%>
                <tr>
                  <td><%=i+1%></td>
                  <td><%=List[i].Username%></td>
                  <td><%=List[i].grade%></td>
                  <td><%=List[i].duration%></td>
                  <td><%=List[i].score%></td>
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
    </div>
  </section>
</div>

<%- include("partials/Footer.ejs")%>