<%- include("partials/Header.ejs")%> <%-messages("partials/Messages.ejs", locals)%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
    <div class="card center">
        <div class="TournamentHeader">
            <h1>Tournaments</h1>
        </div>
        <!-- <form action="/competitions/search" method="post"> -->
        <div class="mb-3">
            <div class="input-group">
                <input type="search" class="form-control" name="searchedTournament" id="searchedTournament"
                    placeholder="Search">
                <div class="input-group-prepend">
                    <button type="submit" class=" btn btn-outline-success"><i class="fas fa-search"></i>Search</button>

                    <a role="button" href="/Tournaments/CreateTournament" class="btn btn-success">Create
                        Tournament</a>
                </div>
            </div>
        </div>
        <!-- </form> -->
        <br><br>
        <hr style="background-color:#150999">
        <% if(!Tournaments.length) { %>
        <div>
            <h1 class="card-title text-center text-muted">There are no tournaments</h1>
        </div>
        <% } else { %>
        <% Tournaments.forEach(Tournament => { %>
        <div class="card-body TournamentCard">
            <h2 class="card-title"><%= Tournament.TITLE %></h2>
            <span class="text-muted"><i style="color:#150999" class="far fa-calendar-alt"></i> <b>Start Date: </b>
                <%= Tournament.STARTDATE %> - <b>End Date:</b> <%= Tournament.ENDDATE %>
            </span>
            <hr>
           
            <br>
            <a href="/tournaments/details/<%= Tournament.T_ID %>" style="margin-top: 10px;"
                class="btn btn-outline-Custom">Participate Now</a>
        </div>
        <% })} %>
    </div>

</div>

<%-include("partials/Footer.ejs")%>