<%- include("partials/Header.ejs")%>

<div class="container" style="min-height: 100vh;">
    <%-messages("partials/Messages.ejs", locals)%>
    <% if (typeof errors !== 'undefined') { %>
    <% errors.forEach(error => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% }); %>
    <% } %>
    <div class="card center ">
        <div class="competitionExamHeader">
            <h2 style="float: left;"><i class="fas fa-trophy" style="color:#E51552 ;"></i> Tournaments</h2>
        </div>
        <form action="/tournaments/search" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <input type="search" class="form-control" name="searchedTournament"
                        placeholder="Search By Tournament Title"
                        value="<%= (typeof searchedExam !== 'undefined') ? searchedExam : '' %>">
                    <div class="input-group-prepend ">
                        <button type="submit" class=" btn btn-outline-danger">
                            <i class="fas fa-search"></i>Search
                        </button>

                        <a role="button" href="/tournaments/createTournament" class="btn btn-danger">
                            Create Tournament
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <br><br>
        <hr style="background-color:#E51552">
        <% if(!Tournaments.length) { %>
        <div>
            <h1 class="card-title text-center text-muted">There are no tournaments</h1>
        </div>
        <% } else { %>
            <div class="row" >
        <% for(var i=0;i<Tournaments.length;i++){ %>
            <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 2%;">
            <div class="card-body competitionExamCard " style="text-align: center;">
                <img class="card-img-left" src="/images/trophy1.jpg" alt="user image" />
                <!-- <i class="fas fa-trophy fa-5x" style="color:black ;"></i>  -->
                <div class="card-body">
                  <h5 class="card-title"><%= Tournaments[i].TITLE %></h5>
                  <p>Prizes Up To <i class="fas fa-coins"></i> <%= Tournaments[i].FEES %> </p>
                  <a href="/tournaments/details/<%= Tournaments[i].T_ID %>" style="margin-top: 10px;"
                    class="btn btn-outline-danger ">More Details</a>
                </div>
              </div>
            </div>
              

        <% }%>
    </div>
    <%} %>
    </div>

</div>

<%-include("partials/Footer.ejs")%>