<%- include("partials/Header.ejs")%> <%-messages("partials/Messages.ejs", locals)%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
    <div class="card center">
        <div class="competitionExamHeader">
            <h2 style="float: left;"><i class="fas fa-trophy" style="color:#E51552 ;"></i> Tournaments</h2>
        </div>
        <!-- <form action="/competitions/search" method="post"> -->
        <div class="mb-3">
            <div class="input-group">
                <input type="search" class="form-control" name="searchedTournament" placeholder="Search">
                <div class="input-group-prepend">
                    <button type="submit" class=" btn btn-outline-danger"><i class="fas fa-search"></i>Search</button>

                    <a role="button" href="/tournaments/createTournament" class="btn btn-danger">Create
                        Tournament</a>
                </div>
            </div>
        </div>
        <!-- </form> -->
        <br><br>
        <hr style="background-color:#E51552">
        <% if(!Tournaments.length) { %>
        <div>
            <h1 class="card-title text-center text-muted">There are no tournaments</h1>
        </div>
        <% } else { %>
        <% Tournaments.forEach(Tournament => { %>
        <div class="card-body competitionExamCard">
            <h2 class="card-title"><%= Tournament.TITLE %></h2>
            <span class="text-muted"><i style="color:#E51552" class="far fa-calendar-alt"></i> <b>Start Date: </b>
                - <b>End Date:</b>
            </span>
            <hr>
            <span>
                <span style="font-weight: bold;">Fees: <%= Tournament.FEES %> </span><i class="fas fa-coins"
                    style="color: #E51552;"></i>
            </span>
            <br>
            <a href="/tournaments/details/<%= Tournament.T_ID %>" style="margin-top: 10px;"
                class="btn btn-outline-danger">Participate Now</a>
        </div>
        <% })} %>
    </div>

</div>

<%-include("partials/Footer.ejs")%>