<%- include("partials/Header.ejs")%>

<div class="container">
    <%-messages("partials/Messages.ejs", locals)%>
    <!--To publish the errors on screen for user if any were found-->
    <div class="card center">
        <div class="competitionExamHeader">
            <h1><i class="fas fa-trophy" style="color:#E51552 ;"></i> <%= T_TITLE %></h1>
        </div>

        <ul class="tournament-breadcrumb">
            <li><a class="not-active-tournament" href="/tournaments/details/<%= T_ID %>" >Details</a></li>
            <li><a class="not-active-tournament" href="/tournaments/leaderboard/<%= T_ID %>/<%= T_TITLE %>">Leaderboard</a></li>
            <li><a class="active" style="pointer-events: none;" href="/tournaments/competitions/<%= T_ID %>/<%= T_TITLE %>">Competitions</a></li>
        </ul>

        <hr style="margin: 0; background-color:#E51552">
        <small style="text-align: center; padding: 3%;" class="text-muted">Join All Competitions In Thier Start Time To Collect More Score & Increase Your Chance At Winning</small>
        <br>
        <%for(var i=0;i<Tournament.length;i++){%>
            <div class="card-body competitionExamCard">
                <h2>
                    <%if(Tournament[i].CATEGORY=="Programming"){%>
                        <i class="fas fa-laptop-code" style="color: #E51552;"></i>
                    <%}else if(Tournament[i].CATEGORY=="Physics"){%>
                        <i class="fas fa-bolt" style="color: #E51552;"></i>
                    <%}else if(Tournament[i].CATEGORY=="Mechanics"){%>
                        <i class="fas fa-cogs" style="color: #E51552;"></i>
                    <%}else if(Tournament[i].CATEGORY=="Mathematics"){%>
                        <i class="fas fa-sort-numeric-up-alt" style="color: #E51552;"></i>
                    <%}else{%>
                        <i class="fas fa-trophy" style="color: #E51552;"></i>
                    <%}%>
                     <%= Tournament[i].TITLE %></h2>
                <span class="text-muted"><i style="color:black" class="far fa-list-alt"></i> <b>Category: </b>
                    <%= Tournament[i].CATEGORY %>
                    &nbsp;</span>
                <br>
                <span class="text-muted"><i style="color:#E51552" class="far fa-calendar-alt"></i> <b>Start Date: </b>
                    <%= Tournament[i].STARTDATE %> - <b>End Date:</b> <%= Tournament[i].ENDDATE %>
                </span>
                <hr>
                
                <%if(Tournament[i].active){%>
                    <a href="/competitions/details/<%= Tournament[i].C_ID %>" style="margin-top: 10px;"
                        class="btn btn-outline-Custom">Start Now</a>
                <%}%>
            </div>
        <%}%>
        <div class="card-body competitionExamCard">
            
        </div>
    </div>

</div>

<%-include("partials/Footer.ejs")%>