<%- include("partials/Header.ejs")%>
<!--To publish the errors on screen for user if any were found-->

<div class="container">
  <%-messages("partials/Messages.ejs", locals)%>
  <section class="profile-section1 mb-3">
    <div class="card profile-details-card">
      <img class="card-img-left" src="/images/<%= profileInfo[0].gender %>.png" alt="user image" />
      <div class="card-body">
        <div>
          <h1 class="card-title nameProfile"><%=profileInfo[0].firstName%> <%=profileInfo[0].lastName%></h1>
          <div style="padding: 0 2%;" class="card-text">
            <small style="color: gray;"><%=profileInfo[0].bio%></small>
          </div>
        </div>
        <div class="aboutProfile">
          <% if (user.ID === profileInfo[0].ID) { %>
          <a href="/users/<%= user.Username %>/edit-profile" class="buttonProfile btn btn-danger">Edit Profile</a>
          <a href="/users/<%= user.Username %>/todolist" class="buttonProfile btn btn-info" style="margin-right: 20px">Todo List</a>
          <% } %>
        </div>
      </div>
    </div>
  </section>

  <section class="profile-section2">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            More About <%=profileInfo[0].firstName%>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li class="aboutProfile"><i class="fas fa-baby"></i> Born on <%=birthDate%> </li>
              <li class="aboutProfile"><i class="fas fa-university"></i> Studied At <%=profileInfo[0].education%> </li>
              <li class="aboutProfile"><i class="fas fa-suitcase"></i> Works As <%=profileInfo[0].job%> </li>
              <%if(profileInfo[0].gender=="M"){%>
              <li class="aboutProfile"><i class="fas fa-male"></i> Male</li>
              <%}else{%>
              <%if(profileInfo[0].gender=="F"){%>
              <li class="aboutProfile"><i class="fas fa-female"></i> Female</li>
              <%}%>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <%=profileInfo[0].firstName%>'s Achievements
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <% for(var i = 0; i < awards.length; i++) { %>
              <%if(awards[i].a_type === "Gold"){%>
              <li><i style="color: gold;" class="fas fa-medal"></i> <%=profileInfo[0].firstName%> Won
                <%=awards[i].a_type%> Medal In "<%=awards[i].TITLE%>" Competition</li>
              <%}else if(awards[i].a_type==="Silver"){%>
              <li><i style="color: silver;" class="fas fa-medal"></i> <%=profileInfo[0].firstName%> Won
                <%=awards[i].a_type%> Medal In "<%=awards[i].TITLE%>" Competition</li>
              <%}else{%>
              <li><i style="color:#AA7655 ;" class="fas fa-medal"></i> <%=profileInfo[0].firstName%> Won
                <%=awards[i].a_type%> Medal In "<%=awards[i].TITLE%>" Competition</li>
              <%}%>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           's History
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li class="aboutProfile"><i class="fas fa-history"></i> </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</div>

<%- include("partials/Footer.ejs")%>